.input {
    margin-bottom: 20px;
}

.output {
    margin-top: 20px;
}

#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#imagesContainer .block {
    // border: 1px solid #000;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#imagesContainer .pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

#imagesContainer a {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
}